# PostgreSQL Database URL (Neon / Supabase)
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require"

# NextAuth / JWT Secret
NEXTAUTH_SECRET="your-32-character-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Gemini AI API Key
GEMINI_API_KEY="your-gemini-api-key-here"

# Public metadata (Candidate & Branding)
NEXT_PUBLIC_APP_NAME="EduFlow AI"
NEXT_PUBLIC_CANDIDATE_NAME="Rahulkumar Pali"
NEXT_PUBLIC_GITHUB_URL="https://github.com/prahul25"
NEXT_PUBLIC_LINKEDIN_URL="https://www.linkedin.com/in/rahulkumarpal25/"
